.text-top,.text-bottom {
    position: absolute;
}

.images{
    position: absolute;
}
.image1 {
    left: 50px;
    top: 20px;
    z-index: 0;
}
.image2 {
    right: 50px;
    top: 20px;
    z-index: 0;
}
.image3{
    left: 80px;
    top: 80px;
    z-index: 1;
}
.image4{
    left: 50px;
    bottom: 50px;
    z-index: 0;
}
